# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# FOLDERS
PLAT_BUILD/*
PLAT_CODES/*
PLAT_THIRD_PARTY/*
PLAT_USERS/*
PLAT_VISU/*
spack_env/.spack-env/*
spack_env/spack.lock
platform_conf.sh
platform_requirements.log

# exception
!PLAT_BUILD/*.sh
!PLAT_BUILD/install_scripts/*.sh

# end-of-file
